{% extends 'base.html.twig' %}

{% block body %}

<a href="/logout" class="btn float-right">deconnexion</a><td><br><br> 

<h1> liste des Demandes</h1>
{% if demande %}
 <table class="table table-striped">
 <thead>
 <tr>
 <th>Initiale patient</th>
   <th>Etat de la demande </th>
   <th>Niveau d'urgence </th>
   <th> Date </th>
 </tr>
 </thead>
 <tbody>
 {% for demande in demande %}
 <tr>
 <td>{{demande.initialePatient}}</td>
 <td>{{demande.etat}}</td>
 <td>{{demande.niveauUrganece}}</td>
 <td>{{ demande.date|date("F jS \\a\\t g:ia") }}

 <td><a href="{{path('showdemande',{'id':demande.id})}}"class="btn btn-success">Afficher</a><td>
</tr>
 {% endfor %}
 </tbody>
 </table>
 {% else %}
 Pas de demande effectuée

 {% endif %}
  <a href="{{path('newdemande')}}" class="btn btn-primary">Ajouter une demande</a>

{% endblock %}