
{% extends 'base.html.twig' %}
{% block body %}
<style>
div .button{
margin-left:750px;
margin-top:-38px;
}
div .button1{
margin-left:900px;
margin-top:33px;
}
div .bande{
margin-top:-30px;
background-color:#F2F3F4;
padding-top:15px;
width:100%;
padding-bottom:15px;
}
div .welcome{
margin-top:-50px;
width:500px;
height:250px;
margin-left:20px;
}
h1{
text-align:center;
margin-bottom:25px;
}
}



</style>
<div class="bande">
<div class="button1"/>
<a href="/login" class="btn btn-primary" id="logup"> Se connecter</a>
</div>
</div>
<div>
<table>
<tr><td>
<img src="https://image.freepik.com/photos-gratuite/docteur-presentant-quelque-chose-fond-blanc-isole_1368-5834.jpg " width="500px" hight="500"/>
</td><td>
<div class="welcome">
<h1> S'inscrire </h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

<button type="submit" class="btn btn-primary mb-2">Register!</button>
{{ form_end(form) }}
</div>
</td></tr></table>

{% endblock %}